@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
:root {
    --font-size: 16px;
    --width-sidebar: 15%;

    --clr-main: hsl(0, 0%, 5%);
    --clr-alt: hsl(0, 0%, 95%);
    --clr-primary: hsl(0, 0%, 90%);
    /* --clr-secondary: hsl(0, 0%, 40%); */
    --clr-secondary: hsl(0, 50%, 60%);
    --clr-accent: hsl(0, 70%, 40%);
    --clr-trim: hsl(0, 0%, 40%);
}

.darkmode {
    --clr-main: hsl(0, 0%, 95%);
    --clr-alt: hsl(0, 0%, 5%);
    --clr-primary: hsl(0, 0%, 25%);
    /* --clr-secondary: hsl(0, 0%, 10%); */
    --clr-secondary: hsl(0, 40%, 50%);
    --clr-accent: hsl(0, 70%, 30%);
    --clr-trim: hsl(0, 0%, 10%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: var(--clr-main);
    background-color: var(--clr-primary);
    line-height: 1.5;
    font-family: "Open Sans";
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: var(--clr-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);
}

main {
    margin-left: var(--width-sidebar);
    padding: 1rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--width-sidebar);
    margin: 0;
    /* border-right: .2rem ridge var(--clr-secondary); */
    border-right: .2rem ridge var(--clr-trim);
    background: linear-gradient(
        0deg, 
        /* var(--clr-secondary),  */
        var(--clr-secondary),
        20%, 
        var(--clr-alt));
    /* background: linear-gradient(.25turn, red, 10%, blue); */
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    overflow: hidden;
    border-color: transparent;
    height: 8rem;
}

.header-contents {
    overflow: hidden;
    /* border-top-color: var(--clr-secondary);
    border-bottom-color: var(--clr-secondary); */
    border-top-color: var(--clr-trim);
    border-bottom-color: var(--clr-trim);
    border-top-width: .25em;
    border-bottom-width: .25rem;
    border-bottom-style: solid;
    border-top-style: solid;
    position: relative;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.header-contents:hover {
    border-top-width: .5rem;
    border-bottom-width: .5rem;
    border-bottom-style: double;
    border-top-style: double;
}

.header-name {
    font-size: 0;
    transition-duration: 500ms;
    transition-timing-function: linear;

    text-shadow: .05rem .05rem var(--clr-alt);

    padding-left: calc(50% - .5rem);
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* box-sizing: border-box; */
    white-space: nowrap;
}

.header-name::after,
.header-name::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-main),
        var(--clr-main),
        var(--clr-accent),
        var(--clr-alt),
        var(--clr-accent),
        var(--clr-main),
        var(--clr-main)
      );
    border-radius: inherit;
    animation: rotation 15s linear infinite;

    transition-delay: 100ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    filter: blur(2rem);
}

.header-name:hover::after {
    filter: blur(0.2rem);
}


.name-short {
    display: inline;
    font-size: 1.5rem;
}

.name-long {
    display: inline-block;
    opacity: 0;
    margin-left: -.25em;
    overflow: visible;
    font-size: 1.25rem;

    transition-duration: 800ms;
    transition-timing-function: linear;
}

.header-name:hover {
    padding-left: calc(20% - .5rem);
    text-shadow: 0.05rem 0.05rem var(--clr-main);
}


.header-name:hover .name-long {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0;
    text-align: left;
    flex-grow: 1;
    display: flex;
}

.nav-link {
    flex-wrap: nowrap;
    padding-left: calc(50% - 1rem);
    text-align: left;
    flex-grow: 1;
    text-decoration: none;
    border-width: .1rem;
    border-style: solid;
    border-color: transparent;
    color: unset;
    font-size: 0;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
    text-shadow: .05rem .05rem var(--clr-primary);
}

.nav-link:hover {
    padding-left: calc(20% - 1rem);
    background-color: var(--clr-main);
}

.nav-text {
    display: inline;
    font-size: 2rem;

    transition-duration: 500ms;
    transition-timing-function: linear; 
}

.nav-link:hover .nav-text {
    color: var(--clr-alt);
    text-shadow: .05rem .05rem var(--clr-accent);
}

.nav-text-long {
    color: unset;
    opacity: 0;
    overflow: hidden;

    margin: -0.5rem;
    padding: 0;

    transition-duration: 700ms;
    transition-timing-function: linear; 
}


.nav-text-short {
    margin: 0;
    padding: 0;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.sidebar:hover {
    width: calc((var(--width-sidebar)*1.5));
}

.nav-link:hover .nav-text-long {
    opacity: 1;
    overflow: visible;
}

@keyframes rotation {
    0% {
    --gradient-angle: 0deg;
    }
    100% {
    --gradient-angle: 360deg;
    }
}

.preferences {
    align-self: center;
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.preferences:hover {
    opacity: 1;
}

.dark-mode-toggle {
    font-size: 3rem;
    background-color: unset;
    border: unset;
    padding: 0;
    margin-bottom: 1rem;
    fill: var(--clr-main);
}