/* || GENERAL STYLE */

h1, 
h2 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

/* || RESUME STYLE */

.name {
    font-size: 2rem;
    justify-content: center;
    text-shadow: 1px 1px 2px grey;
    padding: 1rem;
    text-align: center;
    border-bottom: .5rem double black;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
}

.resume {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.res-header {
    text-align: center;
}
