h1, 
h2 {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header > nav > ul {
    list-style: none;
}

.name {
    border-bottom: 1px solid black;
}

.resume {
    display: flex;
    justify-content: space-around;
}

.res-header {
    text-align: center;
}

footer {
    border-top: 1px solid black;
    text-align: right;
    margin: 1rem;
}

body {
    height: auto;
    width: auto;
    background: linear-gradient(130deg, rgba(243, 147, 22, 0.1), rgba(38, 195, 227, 0.1) 70%) no-repeat;
    background-size: cover;
}

html {
    height: 100%;
}