/* || GENERAL STYLE */

h1, 
h2 {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

/* || RESUME STYLE */

.name {
    border-bottom: 1px solid black;
}

.resume {
    display: flex;
    justify-content: space-around;
}

.res {
    flex-grow: 1;
}

.res > * {
    text-align: center;
}

.contact ul{
    text-align: initial;
}


.res-header {
    text-align: center;
}
