/* || VARIABLES */
:root {
    --main-bg-color: linear-gradient(90deg, rgba(243, 147, 22, 0.2), rgba(38, 195, 227, 0.2) 70%);
    --banner-bg-color: linear-gradient(90deg, rgba(243, 147, 22, 0.2), rgba(243, 147, 22, 0.1) 50%);
}

/* || NAV */

header {
    border: 3px solid black;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
}
  
.nav-list {
    display: flex;
    list-style: none;
    justify-content:flex-end;
    flex-direction: row;
    gap: 1rem;
    padding: unset;
}
  
.nav-list > * {
    max-width: 100%;
    flex-shrink: 1;
    text-align: center;
    border-width: .25rem;
    border-style: ridge;
    border-color: black;
    padding: .25rem;
    flex-basis: 10rem;
    border-radius: .25rem;
    box-shadow: 0rem 0rem 1rem .2rem rgba(211, 106, 125, 0.3) inset;
}
  
.nav-list > *:hover {
    box-shadow: .25rem .25rem black;
    border-top-left-radius: 1rem;
}

  /* || FOOTER  */


footer {
    padding: 1rem;
    text-align: right;
}

/* || GENERAL STYLES */

html {
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
main {
    margin: auto;
    width: 60%;
  }

body {
    background: var(--main-bg-color);
}

 
  
.banner {
    display: flex;
    flex: 1;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: --banner-bg-color;
    box-shadow: 0 0 1rem .25rem rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}
  
.banner section {
    background: linear-gradient(0deg, rgba(248, 123, 146, 0.2), rgba(253, 211, 42, 0.15) 75%);
    flex-grow: 2;
    text-align: center;
    border: .2rem double white;
    margin: 1rem;
    box-shadow: 1rem 1rem 1rem .5rem rgba(21, 108, 126, 0.1);
}
  
/* || UTILITIES */
  
a { 
    color: black;
    text-decoration: none;
}

/* || MEDIA QUERIES */

@media (orientation: portrait) {
    
    main {
        width: 80%
    }
}