/* || VARIABLES */
:root {
    --main-color: linear-gradient(90deg, hsl(35, 100%, 90%), hsl(210, 100%, 90%));
    --banner-bg-color: linear-gradient(90deg, hsl(35, 100%, 85%), hsl(210, 100%, 85%));
    --card-bg-color: linear-gradient(0deg, hsl(350, 100%, 90%), hsl(55, 100%, 90%));
    --nav-bg-color: radial-gradient(hsl(55, 100%, 95%), hsl(350, 100%, 95%));
}

/* || NAV */

header {
    background: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 1rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    box-shadow: -2rem 0 transparent, 2rem 0 transparent, 0 -1.25rem 1rem -1.1rem black, 0 1.25rem 1rem -1.1rem black;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
    list-style-type: none;
}

.nav-list>* {
    max-width: 100%;
    flex-shrink: 1;
    text-align: center;
}

.nav-list a {
    display: block;
    padding: .25rem;
    border-width: .25rem;
    border-style: ridge;
    border-color: black;
    border-radius: .25rem;
    background: var(--nav-bg-color)
}

.nav-list a:hover {
    box-shadow: .25rem .25rem black;
    border-top-left-radius: 1rem;
}

/* || FOOTER  */


footer {
    padding: 1rem;
    text-align: right;
}

/* || GENERAL STYLES */

html {
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin: auto;
    width: 60%;
}

body {
    margin-top: 8rem;
    background: var(--main-color);
}



.banner {
    display: flex;
    flex: 1;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: var(--banner-bg-color);
    box-shadow: 0 0 1rem .25rem rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}

.banner section {
    background: var(--card-bg-color);
    flex-grow: 2;
    text-align: center;
    border: .2rem double white;
    margin: 1rem;
    box-shadow: 1rem 1rem 1rem .5rem rgba(21, 108, 126, 0.1);
}

/* || UTILITIES */

a {
    color: black;
    text-decoration: none;
}

/* || MEDIA QUERIES */

@media (orientation: portrait) {

    main {
        width: 80%
    }
}