main {
  display: flex;
  flex: 1;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, rgba(243, 147, 22, 0.2), rgba(243, 147, 22, 0.1) 50%);
  box-shadow: 0 0 1rem .25rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}

article {
  background: linear-gradient(0deg, rgba(248, 123, 146, 0.2), rgba(253, 211, 42, 0.15) 75%);
  flex-grow: 2;
  text-align: center;
  border: 1px solid black;
  margin: 1rem;
  box-shadow: 1rem 1rem 1rem .5rem rgba(21, 108, 126, 0.1);
}

main div {
  flex-basis: 4rem;
}

.japanese {
  writing-mode: vertical-rl;
}

footer {
  padding: 1rem;
  text-align: right;
}

.nav_list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav_list > * {
  border: 2px solid black;
  padding: .5rem;
  border-radius: .25rem;
  box-shadow: 0rem 0rem .5rem 0rem rgba(170, 86, 101, 0.6) inset;
}

a { 
  color: black;
  text-decoration: none;
}

.nav_list > *:hover {
  box-shadow: .25rem .25rem black;
  border-top-left-radius: 1rem;
}



header {
  border: 3px solid black;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
}

body {
  background: linear-gradient(120deg, rgba(243, 147, 22, 0.2), rgba(38, 195, 227, 0.2) 70%) no-repeat;
}

html {
  height: 100%;
}
